*~
*$py.class
build
build/
.cache
celerybeat.pid
celerybeat-schedule
*.cover
.coverage
.coverage.*
coverage.xml
develop-eggs/
dist
dist/
.dmypy.json
dmypy.json
.docker-token
docs/_build/
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
.env
.env-*
env/
ENV/
env.bak/
.eslintcache
htmlcov/
.hypothesis/
.idea
.installed.cfg
instance/
.ipynb_checkpoints
ipython_config.py
jspm_packages/
lib/
lib64/
local_settings.py
*.log
*.manifest
MANIFEST
*.mo
monkeytype.sqlite3
.mypy_cache/
node_modules
node_modules/
nosetests.xml
.nox/
.npm
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
*.pot
profile_default/
__pycache__/
*.py[cod]
*.py,cover
__pypackages__/
.pypirc
.pypi-token
.pyre/
.pytest_cache/
.Python
.python-version
requirements.txt
.ropeproject
.ruff_cache/
*.sage.py
.scrapy
sdist/
share/python-wheels/
__snapshots__
*.so
*.spec
.spyderproject
.spyproject
target/
test-results
TODO.md
.tox/
var/
.venv*
venv/
venv.bak/
.webassets-cache
wheels/
