[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pytest-mock = "*"
pre-commit = "*"
black = "*"

[packages]
darkseid = "*"
mokkari = "*"

[requires]
python_version = "3.8"
