[tool.poetry]
name = "metron-tagger"
version = "1.2.6"
description = "A program to write metadata from metron.cloud to a comic archive"
authors = ["Brian Pepple <bdpepple@gmail.com>"]
license = "GPL-3.0-or-later"
maintainers = ["Brian Pepple <bdpepple@gmail.com>"]
readme = "README.rst"
packages = [
	{ include = "metrontagger" },
]
include = [
    { path = "tests", format = "sdist" }
]
classifiers=[
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Intended Audience :: End Users/Desktop",
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
  "Natural Language :: English",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Topic :: Utilities",
  "Topic :: Other/Nonlisted Topic",
  "Operating System :: MacOS :: MacOS X",
  "Operating System :: POSIX",
  "Operating System :: POSIX :: BSD",
  "Operating System :: POSIX :: Linux",
  "Operating System :: Microsoft :: Windows",
]
keywords=["comics", "comic", "metadata", "tagging", "tagger"]

[tool.poetry.dependencies]
python = "^3.8"
mokkari = "^2.1.0"
darkseid = "^1.2.0"
questionary = "^1.10.0"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.12.1"
flake8 = "^3.9.2"
pytest-mock = "^3.6.1"
pre-commit = "^2.14.1"
black = "^21.8b0"
tox = "^3.24.3"
flake8-builtins = "^1.5.3"
flake8-blind-except = "^0.2.0"

[tool.poetry.scripts]
metron-tagger = "metrontagger.cli:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 95
target-version = ['py38']

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 95
default_section = "THIRDPARTY"
known_first_party = []
known_third_party = ["darkseid", "mokkari", "pytest", "questionary"]

[tool.poetry.urls]
"Homepage" = "https://github.com/bpepple/metron-tagger"
"Bug Tracker" = "https://github.com/bpepple/metron-tagger/issues"

[tool.coverage.run]
source = ["metrontagger"]

[tool.coverage.report]
show_missing = true

